li {
    list-style-type: none;
    padding: 1rem;
    line-height: 1rem;

    &:nth-child(odd) {
        background-color: rgba(0,0,255, 0.4);
        color: #eeeeee;
    }

    & + li {
        margin-top: 1rem;
    }

    a {
        color: black;

        &:visited {
            color: blue;
        }
    }

    p {
        padding: 1rem 0;
    }
}